/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
    /* my global */
    .hover__ori {
        transition: all .5s;
        cursor: pointer;
    }

    .hover__ori:hover {
        color: #ff6e65;
    }

   


.header__top {
    background-color: #0d369f;
    padding: 16px 30px;

}

.header__top * {
    color: white;
    display: inline;
    font-size: 14px;
}

.header__top a {

    text-decoration: none;
}

.header__top i {
    font-size: 14px;
}

.header__left i {
    margin-right: 5px;
}

.header__left p {
    font-weight: 500;
    word-spacing: -1px;
}

.header__left a {
    font-size: 14px;
    font-weight: 500;
}

.header__right i {
    margin-left: 2rem;
}


/* NAV */
.navbar-brand p {
    font-size: 24px;
    margin: 0 3px;
    font-weight: 600;
    color: #0d369f;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 15px;
    padding: 0 10px;
    transition: all .5s;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #ff6e65;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff6e65;

}

nav .dropdown-item {
    font-weight: 600;
}

header nav form input.form-control {
    height: 45px;
    border-radius: 30px;
    font-size: 14px;

}

header nav form {
    width: 230px;
    position: relative;
    margin: 0 10px 0 20px;
}

header nav form button {
    position: absolute;
    right: 15px;
}

header nav form button i {
    color: #0d369f;
    font-size: 13px;
}

header nav .mode-container {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    transform: rotate(-15deg);
    margin-right: 10px;
}

.form-control:focus {
    outline: none;
    padding-right: 40px;
    box-shadow: none;
    border-color: #ced4da;
}


/* CAROUSEL */
.carousel__main {
    height: 90vh;
    overflow: hidden;
}

.carousel__content {
    height: 500px;
    overflow: hiden;
}

.carousel__item {
    position: relative;
    height: 90vh;
}

.carousel__item>img {
    filter: brightness(80%);
    z-index: -1;
    object-fit: cover;
    height: 100%;
}

.carousel__text {
    position: absolute;
    max-width: 560px;
    top: 50%;
    color: white;
    text-align: left;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel__text h3 {
    font-size: 70px;
}

.carousel__text button {
    color: #060606;
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 28px;
    border: 1px solid transparent;
    background-color: white;
    transition: all .5s;
}

.carousel__text button:hover {
    color: white;
    background-color: #ff6e65;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 0px;
    right: 20px;
    transform: rotate(90deg);
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #ff6e65;
}

/* SERVICES */
.services .hover__black{
    transition: all .5s;
}
.services .hover__black:hover{
    color: #060606;
}
.services .services__content .row>* {
    padding: 0 10px;
}

.services__item {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    padding: 65px 35px;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    transform: translateY(-30%);
    position: relative;
    z-index: 1;
}
.services__item.item1{
    background-color: #037ef3;
}
.services__item.item2{
    background-color: #ffc949;
}
.services__item.item3{
    background-color: #ff4f81;
}
.services__item.item4{
    background-color: #1ee697;
}

.services__item i {
    display: block;
    font-size: 50px;
    margin-bottom: 25px;
}

/******************* REPONSIVE ***************/
@media screen and (min-width:1280px) {

 
  .container{
        max-width: 1200px;
    }

}


/* STUDIOUS */