/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

    /* my global */
    .hover__ori{
        transition: all .5s;
        cursor:pointer;
    }
    .hover__ori:hover{
        color: #ff6e65;
    }

.header__top{
    background-color: #0d369f;
    padding: 16px 30px;
    /* position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 0; */
}
.header__top *{
    color: white;
    display: inline;
    font-size: 14px;
}
.header__top a{
    
    text-decoration: none;
}
.header__top i {
    font-size: 14px;
}
.header__left i{
    margin-right: 5px ;
}
.header__left p {
    font-weight: 500;
    word-spacing: -1px;
}
.header__left a {
    font-size: 14px;
    font-weight: 500;
}
.header__right  i{
    margin-left: 2rem;
}


/* NAV */
.navbar-brand  p{
    font-size: 24px;
    margin: 0 3px;    
    font-weight: 600;
    color: #0d369f;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight:600 ;
    font-size: 15px;
    padding:  0 10px;
    transition: all .5s;
}
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #ff6e65;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {   
    color: #ff6e65;

} 
nav .dropdown-item {
    font-weight: 600 ;
}
header nav form input.form-control  {
    height: 45px;
    border-radius: 30px;
    font-size: 14px;
    
}
header nav form {
    width: 230px;
    position: relative;
    margin: 0 10px 0 20px;
}
header nav form button{
    position: absolute;
    right: 15px;
} 
header nav form button i{
    color: #0d369f;
    font-size: 13px;
}
header nav .mode-container{
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    transform: rotate(-15deg);
    margin-right: 10px;
}
.form-control:focus{
    outline: none;
    padding-right: 40px ;
    box-shadow: none;
    border-color: #ced4da;
}


/* CAROUSEL */

.carousel__content{
    height: 500px;
    overflow: hiden;
}



/* SERVICES */

/* STUDIOUS */
